*.r
*.xls
*.narrowPeak
*.bdg
plink.*
*_IC50.txt
*.bam
*.bam.bai
*.bcf
*.bed
*.bg
*.bw
*.faa
*.fastq
*.fasta
*.fa
*.fai
*.fna
*.fq
*.fra
*.gff*
*.gtf
*.gz
*.h5
*.sam
*.seq
*.vcf
*.bam
*.bcf
*.bed
*.bg
*.bw
*.faa
*.fastq
*.fasta
*.fa
*.fai
*.fna
*.fq
*.fra
*.gff*
*.gtf
*.gz
*.h5
*.sam
*.seq
*.vcf
*.panel
*.out 
*.csv 
*.tgz
*.fastg
*.gfa
*.info
sacCer3.*
